<ion-app>

  <!--Testing Merge-->

  <ion-card *ngIf="show">
    <ion-card-header>
      <ion-card-title>Seeing Green</ion-card-title>
      <ion-card-subtitle>Test Your Sustainability</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Take a simple quiz on various daily choices to see just how sustainably you live your life.
    </ion-card-content>
  </ion-card>


  <ion-content id="Screen One" *ngIf="showCards">
    <ion-card-header>
      <ion-card-title>Question 1</ion-card-title>
      <ion-card-subtitle>After lunch you have a aluminum can, what is the proper bin to throw it in?</ion-card-subtitle>
    </ion-card-header>

    <div style="display: flex; align-items: center; justify-content: center;">
      <ion-grid>
        <div *ngIf="set == 0">

          <ion-card class="Card1" (click)="choice($event,2,1)">
            <ion-card-content>
              <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
                <ion-card-title>
                  COMPOSTING
                </ion-card-title>
              </div>
              <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
                <ion-row class="progressWrapper">
                  <img src="./assets/Compost.png" style="height: 120px;width: 120px;" />
                </ion-row>
              </div>
            </ion-card-content>
          </ion-card>


          <ion-card class="Card1" (click)="choice($event, 5,2)">
            <ion-card-content>
              <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
                <ion-card-title>
                  RECYCLING
                </ion-card-title>
              </div>
              <div style="height: 100%; display: flex; align-items: center; justify-content: center;">

                <ion-row>
                  <img src="./assets/Recycling.png" style="height: 120px;width: 120px;" class="helpIcon" />
                </ion-row>
              </div>
            </ion-card-content>
          </ion-card>

        </div>
          <ion-row>
            <h1>Score: {{score}}</h1>
          </ion-row>
        
      </ion-grid>
    </div>


  </ion-content>


  <ion-button *ngIf="show" size="large" color="success" (click)="start($event)">Start</ion-button>
  <ion-button *ngIf="!show" size="large" color="success" (click)="restart($event)">Restart</ion-button>
</ion-app>